@model HotelBookingProject.WebUI.Models.IndexViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<style>
    body, html {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }

    .sidebar {
        position: fixed;
        top: 56px;
        bottom:10vh;
        left: 0;
        width: 20%; 
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), lightblue), url('/images/Backgrounds/city_background.jpg');
        padding: 20px;
        overflow-y: auto;
        box-sizing: border-box; 
    }

    .list-group-item {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 5%;
    }

    .selected-item {
        background-color: lightgray;
        color: black;
    }

    .initial-selected-item {
        background-color: lightgray;
        color: black; 
    }

    .content {
        margin-left: 20%;
        padding: 20px;
    }

    h3{
        color: white;
        text-shadow: 2px 2px 4px #000000;
    }
</style>

<div class="sidebar">
    <h3>Cities</h3>
    <div class="list-group">
        @foreach (var item in Model.Cities)
        {
            <a class="list-group-item list-group-item-action" data-city-id="@item.Id" onclick="selectElement('@item.Id')">@item.Name</a>
        }
    </div>
</div>

<div class="content">
    <partial name="HotelList" model="new HotelBookingProject.WebUI.Models.HotelListViewModel(){Hotels = Model.Hotels, Images = Model.Images}" />
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $('.list-group-item[data-city-id="1"]').addClass('initial-selected-item');
    });

    function selectElement(cityId) {
        console.log("Selected city with ID:", cityId);

        $('.list-group-item').removeClass('selected-item');
        $('.list-group-item').removeClass('initial-selected-item');

        $(`.list-group-item[data-city-id='${cityId}']`).addClass('selected-item');

        $.ajax({
            url: '@Url.Action("GetHotelsByCityId", "Home")',
            type: 'GET',
            data: { cityId: cityId },
            success: function (data) {
                $('.content').html(data);
            },
            error: function (xhr, status, error) {
                console.error("Error fetching hotels:", error);
            }
        });
    }
</script>